<!DOCTYPE html>
<html>
  <head>
    <title>Tablio Specs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table id="tablio" class="tablio-modern">
      <thead>
        <tr>
          <th>Name:</th>
          <th>Age:</th>
          <th>Income:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jessica</td>
          <td>22</td>
          <td>3800$</td>
        </tr>
        <tr>
          <td>Albert</td>
          <td>36</td>
          <td>1800$</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>